<div id="headerContainer">
  <h1 id="title">Articles & Products</h1>
  <br>
  <div id="linkContainer">
    <a class="button button-primary four columns" href="/">HOME</a>
    <a class="button button-primary four columns" href="/articles">ARTICLES</a>
    <a class="button button-primary four columns" href="/products">PRODUCTS</a>
  </div>
</div>
<br><br>
<hr>