<div>
  <h3>Welcome to my app.</h3>
  <p>This is a NodeJS web app that utilizes ExpressJS to deliver HTML content through the use of Handle-Bars. In each of
    the available
    sections, you will have the ability to
    GET, POST, PUT & DELETE data.
  </p>
  <p>
    Click on buttons above and take a look! Play around with it and let me know what you think. Code for this app can be
    found on my Github @ github.com/lhnozaki.
  </p>
  <p>
    Enjoy!
  </p>
</div>