<div id="content">
  <h3>Results</h3>
</div>
<br><br>

{{#each articles}}
<h6>
  <strong>
    Title
  </strong>
</h6>
<p>
  {{title}}
</p>
<h6>
  <strong>
    Author
  </strong>
</h6>
<p>
  <i>
    {{author}}
  </i>
</p>
<h6>
  <strong>
    ...
  </strong>
</h6>
<p>
  {{body}}
</p>
<hr>
{{/each}}
</div>