<h3>Edit</h3>

<form action="/articles/edit/?_method=PUT" method="POST">
  <div class="row">
    <div class="twelve columns">
      <select name="id" class="twelve columns">
        <option value=""></option>
        {{#each articles}}
        <option value="{{title}}">{{title}}</option>
        {{/each}}
      </select><br><br><br>
      <label>Title</label>
      <input class=" u-full-width" type="text" placeholder="Name of product" name="title">
      <label>Author</label>
      <input class="u-full-width" type="text" placeholder="Price" name="author">
      <label>Body</label>
      <textarea class="u-full-width" placeholder="..." name="body"></textarea>
    </div>
  </div>

  <input class="button" type="submit" value="Submit">
</form>
<div id="errorMsg">
  {{error}}
</div>
<br>
<div>
  <p>
    Use the form above to edit an existing article in the articles catalogue. Don't forget to be creative and have fun!
  </p>
</div>