<div id="content">
  <h3>Articles</h3>
  <div id="linkContainer">
    <a class="button three columns" href="/articles/search">SEARCH</a>
    <a class="button three columns" href="/articles/new">ADD</a>
    <a class="button three columns" href="/articles/edit">EDIT</a>
    <a class="button three columns" href="/articles/delete">DELETE</a>
    <br>
  </div>
  <br><br>

  {{#each articles}}
  <h6>
    <strong>
      Title
    </strong>
  </h6>
  <p>
    {{title}}
  </p>
  <h6>
    <strong>
      Author
    </strong>
  </h6>
  <p>
    <i>
      {{author}}
    </i>
  </p>
  <h6>
    <strong>
      ...
    </strong>
  </h6>
  <p>
    {{body}}
  </p>
  <hr>
  {{/each}}
</div>

<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>