<h3>Search</h3>

<form action="/articles/fetch" method="GET">
  <div class="twelve columns">
    <label for="IDsearch">Search</label>
    <input class="u-full-width" type="text" placeholder="Search by article name" name="articleName">
  </div>
  <input class="button" type="submit" value="Submit">
</form>

<div>
  <p id="errorMsg">{{error}}</p>
</div>

<div>
  <p>
    Use the search bar above to search for a specific article name.
  </p>
  <p>
    Or type in the url localhost:8080/articles/[title]
    and replace [title] with the article title you want to search with.
  </p>
  <p>
    Try it out!
  </p>
</div>